* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
/* Header */
header {
	max-width: 100%;
	height: 100%;
	background: url("../img/header_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	padding-bottom: 250px;
}
header .wrapper {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	position: fixed;
}
header .wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 2;
}
header .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
header .header_logo {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 3;
}
header .container .header_inner {
	display: flex;
	justify-content: space-between;
	padding: 15px 0px 15px;
	position: relative;
}
header .container a.navbar_link {
	display: inline-block;
	vertical-align: top;
	opacity: 0.69;
	font-family: 'Open Sans';
	font-size: 19px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	margin-left: 40px;
	position: relative;
	z-index: 2;
}
header .container a.navbar_link:first-child {
	margin-left: 0;
	text-decoration: underline;
}
header .container a.navbar_link:hover {
	text-decoration: underline;
}
header .header_intro {
	width: 100%;
	margin-top: 230px;
	float: left;
}
header .header_intro_left {
	width: 50%;
	float: left;
}
header .header_intro .header_intro_left img {
	width: 175px;
	height: 60px;
	margin-bottom: 36px;
}
header .header_intro .header_intro_left h1 {
	opacity: 0.8;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 300;
	color: #ffffff;
}
header .header_intro .header_intro_left hr {
	width: 50px;
	margin-top: 22px;
	margin-bottom: 10px;
}
header .header_intro .header_intro_left p {
	opacity: 0.8;
	font-family: Raleway;
	font-size: 16px;
	line-height: 23px;
	font-weight: 300;
	color: #ffffff;
	margin-top: 40px;
	margin-bottom: 20px;
}
header .header_intro .header_intro_left a {
	font-family: 'Open Sans';
	font-size: 17px;
	line-height: 1.2;
	font-weight: 600;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	padding: 15px 30px 15px 30px;
	text-align: center;
	float: left;
}
header .header_intro .header_intro_left a:hover {
	color: #222;
	background: #fff;
	transition: all 1s ease;
}
header .header_intro_right {
	width: 30%;
	margin-left: 15%;
	float: right;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px 6px 0px 0px;
}
header .header_intro_right .header_intro_right_title {
	width: 100%;
	background: #f6f6f6;
	float: left;
}
header .header_intro_right .header_intro_right_title h1 {
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
	text-align: center;
	padding: 20px 0;
}
header .header_intro_right .header_intro_right_title h1 span {
	color: #ff8b38;
}
header .header_intro_right .header_intro_right_form {
	width: 100%;
	float: left;
	padding: 0;
}
header .header_intro_right .header_intro_right_form input {
	width: 90%;
	height: 31px;
	box-shadow: 0px 1px 0px 0px rgba(0,0,1,0.15);
	margin-left: 5%;
	outline: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #fafafa;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #bdbdbd;
	margin-top: 23px;
}
header .header_intro_right .header_intro_right_form input:focus {
	padding-bottom: 10px;
}
header .header_intro_right .header_intro_right_button button {
	background: #ff9b51;
	width: 100%;
	float: left;
	text-align: center;
	border: 0;
	padding: 18px 0;
	margin-top: 50px;
	font-family: 'Open Sans';
	font-size: 17px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	cursor: pointer;
}
header .header_intro_right .header_intro_right_button button:hover {
	background: #ffba87;
	transition: all .8s ease-out;
}
/* Social media */
.social_media {
	width: 100%;
	float: left;
	background: #fff;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.37);
	padding: 24px 0;
}
.social_media .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.social_media .social_media_left {
	width: 30%;
	float: left;
	margin-right: 15%;
}
.social_media .social_media_left h1.social_media_title {
	font-family: 'Open Sans';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
}
.social_media .social_media_left p.social_media_text {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
}
.social_media .social_media_right {
	width: 55%;
	float: right;
}
.social_media .social_media_right a.social_link {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 400;
	color: #cccccc;
	margin-right: 63px;
	transition: all 1s ease;
}
.social_media .social_media_right a.social_link:last-child {
	margin-right: 0;
}
.social_media .social_media_right a.social_link:first-child:hover {
	color: #06327a;
}
.social_media .social_media_right a.social_link:nth-child(2):hover {
	color: #3577e6;
}
.social_media .social_media_right a.social_link:nth-child(3):hover {
	color: #e66365;
}
.social_media .social_media_right a.social_link:nth-child(4):hover {
	color: #ed0c0f;
}
.social_media .social_media_right a.social_link:nth-child(5):hover {
	color: #e838d6;
}
.social_media .social_media_right a.social_link:nth-child(6):hover {
	color: #e63d1c;
}
.social_media .social_media_right a.social_link:nth-child(7):hover {
	color: #ed905a;
}
/* Tabs */
.tab {
	width: 100%;
	background: #f5f5f5;
	padding: 150px 0 115px 0;
	float: left;
}
.tab .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.tab .tablinks {
	width: 10%;
	float: left;
}
.tab .tablinks button {
	display: block;
	padding: 50px 0 50px 0;
	text-align: center;
	width: 100%;
  	border: none;
  	outline: none;
  	background: #333333;
  	color: #fff;
  	cursor: pointer;
  	font-family: 'Open Sans';
  	font-size: 17px;
  	line-height: 20px;
  	font-weight: 700;
  	transition: all 1s ease-out;
  	float: left;
}
.tab .tablinks button:hover {
	background: #ff8b38;
}
.tab .tablinks button.active {
	background: #ff8b38;
}
.tab .tablinks button:first-child {
	border-radius: 5px 5px 0 0;
}
.tab .tablinks button:last-child {
	border-radius: 0 0 5px 5px;
}
.tab .tabcontent {
	width: 40%;
	float: left;
	margin-left: 15%;
	margin-right: 10%;
}
.tab .tabcontent h3 {
	font-family: 'Open Sans';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #000000;
	margin-bottom: 53px;
	float: left;
}
.tab .tabcontent p {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	float: left;
}
.tab .tabcontent a {
	float: left;
	margin-top: 51px;
	background: #ff8b38;
	font-family: 'Open Sans';
	font-size: 17px;
	line-height: 20px;
	font-weight: 600;
	color: #ffffff;
	padding: 18px 20px;
	text-align: center;
	border-radius: 5px;
}
.tab .tabcontent a:hover {
	background: #333;
	color: #fafafa;
	transition: all .8s ease;
}
.tab .tabcontent .img {
	float: right;
	width: 25%;
}
.tab .tabcontent .img img {
	width: 100%;
}
/* Sub list section */
.sub_list_section {
	width: 100%;
	float: left;
	background: #fff;
	padding: 110px 115px;
}
.sub_list_section .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.sub_list_section .sub_list_section_left {
	width: 40%;
	float: left;
	margin-right: 13%;
	display: inline-block;
	overflow: hidden;
}
.sub_list_section .sub_list_section_left img {
	width: 100%;
	float: left;
	display: block;
	transition: all 2s ease-out;
}
.sub_list_section .sub_list_section_left img:hover {
	transform: scale(1.3);
}
.sub_list_section .sub_list_section_right {
	width: 47%;
	float: right;
}
.sub_list_section .sub_list_section_right h1 {
	font-family: 'Open Sans';
	font-size: 23px;
	line-height: 43px;
	font-weight: 800;
	color: #212121;
}
.sub_list_section .sub_list_section_right hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 26px 0;
}
.sub_list_section .sub_list_section_right p.sub_list_section_right_text {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin-bottom: 46px;
}
.sub_list_section .sub_list_section_right section {
	width: 100%;
	float: left;
	margin-bottom: 40px;
}
.sub_list_section .sub_list_section_right section:last-child {
	margin-bottom: 0;
}
.sub_list_section .sub_list_section_right section .section_img {
	width: 10%;
	float: left;
	margin-right: 5%;
}
.sub_list_section .sub_list_section_right section .section_img i {
	color: #ff8b38;
	border: 2px solid #ff8b38;
	padding: 10px;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	text-align: center;
	align-items: center;
	cursor: pointer;
}
.sub_list_section .sub_list_section_right section .section_img i:hover {
	background: #ff8b38;
	transition: all 1s ease;
	color: #fff;
}
.sub_list_section .sub_list_section_right section .section_text {
	width: 85%;
	float: right;
}
.sub_list_section .sub_list_section_right section .section_text h3 {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 17px;
	font-weight: 600;
	color: #212121;
	margin-bottom: 12px;
}
.sub_list_section .sub_list_section_right section .section_text p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
}
/* Standard Picture Section */
.standard_picture_section {
	background: #f5f5f5;
	width: 100%;
	float: left;
	padding: 75px 0 75px 0;
}
.standard_picture_section .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.standard_picture_section .standard_picture_section_left {
	padding-top: 35px;
	width: 40%;
	margin-right: 13%;
	float: left;
}
.standard_picture_section .standard_picture_section_left h1 {
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 43px;
	font-weight: 800;
	color: #212121;
}
.standard_picture_section .standard_picture_section_left hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0;
}
.standard_picture_section .standard_picture_section_left p {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
}
.standard_picture_section .standard_picture_section_right {
	display: inline-block;
	overflow: hidden;
	width: 47%;
	float: right;
}
.standard_picture_section .standard_picture_section_right img {
	display: block;
	transition: all 2s ease-out;
	width: 100%;
}
.standard_picture_section .standard_picture_section_right img:hover {
	transform: scale(1.5);
}
/* WHY THIS IS AWESOME */
.awesome {
	width: 100%;
	float: left;
	background: #fff;
	padding: 110px 0 105px 0;
}
.awesome .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.awesome h1.awesome_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}
.awesome hr.awesome_hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0;
}
.awesome p.awesome_text {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
	margin-bottom: 83px;
}
.awesome section {
	width: 100%;
	float: left;
}
.awesome section .design {
	width: 30%;
	float: left;
	margin-right: 5%;
}
.awesome section .design i {
	font-size: 50px;
	line-height: 1.2;
	font-weight: 400;
	color: #ff8b38;
	text-align: center;
	padding: 19px 26px;
	margin-left: 40%;
}
.awesome section .design h2 {
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	margin: 30px 25px;
}
.awesome section .design p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
}
.awesome section .well_crafted {
	width: 30%;
	float: left;
	margin-right: 5%;
}
.awesome section .well_crafted i {
	font-size: 50px;
	line-height: 1.2;
	font-weight: 400;
	color: #ff8b38;
	text-align: center;
	padding: 19px 26px;
	margin-left: 37%;
}
.awesome section .well_crafted h2 {
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	margin: 30px 25px;
}
.awesome section .well_crafted p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
}
.awesome section .customize {
	width: 30%;
	float: left;
}
.awesome section .customize i {
	font-size: 50px;
	line-height: 1.2;
	font-weight: 400;
	color: #ff8b38;
	text-align: center;
	padding: 19px 26px;
	margin-left: 40%;
}
.awesome section .customize h2 {
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	margin: 30px 25px;
}
.awesome section .customize p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
}
/* Pricing options */
.pricing {
	width: 100%;
	float: left;
	background: #f5f5f5;
	padding: 108px 0 105px 0;
}
.pricing .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.pricing h1.pricing_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}
.pricing hr.pricing_hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0;
}
.pricing p.pricing_text {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
	margin-bottom: 80px;
}
.pricing section {
	width: 100%;
	float: left;
}
.pricing section .basic {
	width: 30%;
	margin-right: 5%;
	float: left;
}
.pricing section .basic:hover {
	box-shadow: 1px 1px 10px #000;
	cursor: pointer;
}
.pricing section .basic .basic_top {
	background: #333333;
	text-align: center;
	width: 100%;
	float: left;
	padding-top: 22px;
	border-bottom: 7px solid #ff8b38;
}
.pricing section .basic .basic_top a {
	width: 100%;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	border-bottom: 1px solid #fff;
	float: left;
	padding-bottom: 22px;
}
.pricing section .basic .basic_top a:hover {
	text-decoration: underline;;
}
.pricing section .basic .basic_top h5 {
	font-family: Raleway;
	font-size: 35px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 20px;
	width: 100%;
}
.pricing section .basic .basic_top h5 span {
	font-size: 94px;
}
.pricing section .basic .basic_top p {
	opacity: 0.5;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
	text-align: center;
	margin-bottom: 23px;
}
.pricing section .basic .characteristic {
	width: 100%;
	float: left;
	background: #fff;
}
.pricing section .basic .characteristic p {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #f8f8f8;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #86878b;
	padding: 12px 0 12px 0;
}
.pricing section .professional {
	width: 30%;
	margin-right: 5%;
	float: left;
	margin-top: -35px;
}
.pricing section .professional:hover {
	box-shadow: 1px 1px 10px #000;
	cursor: pointer;
}
.pricing section .professional .professional_top {
	background: #333333;
	text-align: center;
	width: 100%;
	float: left;
	padding-top: 22px;
}
.pricing section .professional .professional_top a {
	width: 100%;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	border-bottom: 1px solid #fff;
	float: left;
	padding-bottom: 22px;
}
.pricing section .professional .professional_top a:hover {
	text-decoration: underline;;
}
.pricing section .professional .professional_top h5 {
	font-family: Raleway;
	font-size: 35px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 20px;
	width: 100%;
}
.pricing section .professional .professional_top h5 span {
	font-size: 94px;
}
.pricing section .professional .professional_top p {
	opacity: 0.5;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
	text-align: center;
	margin-bottom: 23px;
}
.pricing section .professional .popular {
	width: 100%;
	background: #ff8b38;
	float: left;
}
.pricing section .professional .popular h3 {
	padding: 15px 0 15px 0;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}
.pricing section .professional .characteristic {
	width: 100%;
	float: left;
	background: #fff;
}
.pricing section .professional .characteristic p {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #f8f8f8;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #86878b;
	padding: 12px 0 12px 0;
}
.pricing section .enterprice {
	width: 30%;
	float: right;
}
.pricing section .enterprice:hover {
	box-shadow: 1px 1px 10px #000;
	cursor: pointer;
}
.pricing section .enterprice .enterprice_top {
	background: #333333;
	text-align: center;
	width: 100%;
	float: left;
	padding-top: 22px;
	border-bottom: 7px solid #ff8b38;
}
.pricing section .enterprice .enterprice_top a {
	width: 100%;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	border-bottom: 1px solid #fff;
	float: left;
	padding-bottom: 22px;
}
.pricing section .enterprice .enterprice_top a:hover {
	text-decoration: underline;;
}
.pricing section .enterprice .enterprice_top h5 {
	font-family: Raleway;
	font-size: 35px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 20px;
	width: 100%;
}
.pricing section .enterprice .enterprice_top h5 span {
	font-size: 94px;
}
.pricing section .enterprice .enterprice_top p {
	opacity: 0.5;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
	text-align: center;
	margin-bottom: 23px;
}
.pricing section .enterprice .characteristic {
	width: 100%;
	float: left;
	background: #fff;
}
.pricing section .enterprice .characteristic p {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #f8f8f8;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #86878b;
	padding: 12px 0 12px 0;
}
/* WHAT OUR CUSTOMERS ARE SAYING */
.comments {
	width: 100%;
	float: left;
	padding: 110px 0 100px 0;
}
.comments .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.comments h1.comments_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}
.comments hr.comments_hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0;
}
.comments p.comments_text {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
	margin-bottom: 80px;
}
.comments section {
	width: 100%;
	float: left;
}
.comments section .first_comment {
	width: 30%;
	float: left;
	margin-right: 5%;
}
.comments section .first_comment p#commentary {
	background: #f5f5f5;
	width: 100%;
	border: 0;
	border-radius: 7px;
	float: left;
	padding: 24px 13px 24px 13px;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #86878b;
	position: relative;
	margin-bottom: 20px;
}
.comments section .first_comment p#commentary::after {
	content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 10%;
    border-top: 10px solid #f5f5f5;
    bottom: -10px;
}
.comments section .first_comment .person {
	width: 100%;
	float: left;
}
.comments section .first_comment .person .img {
	width: 10%;
	float: left;
	margin-right: 10%;
}
.comments section .first_comment .person .desc {
	margin-top: 15px;
}
.comments section .first_comment .person .desc h3 {
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
	margin-bottom: 5px;
}
.comments section .first_comment .person .desc p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #86878b;
}
.comments section .second_comment {
	width: 30%;
	float: left;
	margin-right: 5%;
}
.comments section .second_comment p#commentary {
	background: #f5f5f5;
	width: 100%;
	border: 0;
	border-radius: 7px;
	float: left;
	padding: 24px 13px 24px 13px;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #86878b;
	position: relative;
	margin-bottom: 20px;
}
.comments section .second_comment p#commentary::after {
	content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 10%;
    border-top: 10px solid #f5f5f5;
    bottom: -10px;
}
.comments section .second_comment .person {
	width: 100%;
	float: left;
}
.comments section .second_comment .person .img {
	width: 10%;
	float: left;
	margin-right: 10%;
}
.comments section .second_comment .person .desc {
	margin-top: 15px;
}
.comments section .second_comment .person .desc h3 {
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
	margin-bottom: 5px;
}
.comments section .second_comment .person .desc p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #86878b;
}
.comments section .third_comment {
	width: 30%;
	float: left;
}
.comments section .third_comment p#commentary {
	background: #f5f5f5;
	width: 100%;
	border: 0;
	border-radius: 7px;
	float: left;
	padding: 24px 13px 24px 13px;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #86878b;
	position: relative;
	margin-bottom: 20px;
}
.comments section .third_comment p#commentary::after {
	content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 10%;
    border-top: 10px solid #f5f5f5;
    bottom: -10px;
}
.comments section .third_comment .person {
	width: 100%;
	float: left;
}
.comments section .third_comment .person .img {
	width: 10%;
	float: left;
	margin-right: 10%;
}
.comments section .third_comment .person .desc {
	margin-top: 15px;
}
.comments section .third_comment .person .desc h3 {
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
	margin-bottom: 5px;
}
.comments section .third_comment .person .desc p {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #86878b;
}
/* STYLISH AXURE DESIGN */
.axure {
	width: 100%;
	float: left;
	background: url("../img/axure_design_img.png");
	padding: 75px 0 65px 0;
	background-attachment: fixed;
}
.axure .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.axure h1.axure_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
}
.axure hr.axure_hr {
	width: 64px;
	height: 2px;
	background-color: #fff;
	border: 0;
	margin: 30px 0;
}
.axure p.axure_text {
	opacity: 0.8;
	font-family: Raleway;
	font-size: 17px;
	line-height: 1.2;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	margin-bottom: 65px;
}
.axure a.axure_link {
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 1.2;
	font-weight: 600;
	color: #fff;
	border: 2px solid #fff;
	background: transparent;
	padding: 15px 33px;
	text-align: center;
}
.axure a.axure_link:hover {
	transition: all 1s ease;
	background: #fff;
	color: #333;
}
/* Amount */
.amount {
	width: 100%;
	float: left;
	background: #f5f5f5;
	padding: 100px 0 100px 0;
}
.amount .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.amount h1.amount_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}
.amount hr.amount_hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0 20px 0;
}
.amount .numbers {
	width: 100%;
	float: left;
	margin-top: 40px;
}
.amount section {
	width: 15%;
	float: left;
	margin-right: 5%;
	background: #fff;
	padding: 20px;
	box-shadow: 1px 1px 5px #ccc;
}
.amount section:nth-child(4) {
	width: 20%;
}
.amount section:last-child {
	margin-right: 0;
}
.amount section i {
	width: 100%;
	text-align: center;
	font-size: 35px;
	color: #ff8b38;
}
.amount section h2 {
	text-align: center;
	font-family: 'Open Sans';
	color: #333;
	margin: 10px 0;
	font-size: 35px;
}
.amount section p {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
}
/* Our team */
.team {
	width: 100%;
	float: left;
	background: #fff;
	padding: 100px 0 110px 0;
}
.team .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.team h1.team_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}
.team hr.team_hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0;
}
.team p.team_text {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
	margin-bottom: 80px;
}
.team .members {
	width: 100%;
	float: left;
}
.team section {
	width: 25%;
	float: left;
	position: relative;
	overflow: hidden;
}
.team section span img {
	width: 100%;
}
.team section .describing {
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Open Sans';
	text-align: center;
	padding: 110px 85px;
	opacity: 0;
	z-index: 2;
	transition: .5s ease;
}
.team section .describing h1 {
	font-size: 25px;
	text-align: center;
}
.team section .describing h2 {
	font-size: 17px;
	text-align: center;
}
.team section span {
	display: block;
	color: #fff;
}
.team section span:before,
.team section span:after {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	transition: .75s ease;
	mix-blend-mode: darken;
}
.team section span:before {
	right: 0;
	bottom: -100%;
	background: rgba(230, 12, 50, 0.8);
	transform: skew(-45deg) translateX(100%);
	-webkit-transform: skew(-45deg) translateX(100%);
	-moz-transform: skew(-45deg) translateX(100%);
	-ms-transform: skew(-45deg) translateX(100%);
	-o-transform: skew(-45deg) translateX(100%);
}
.team section span:after {
	left: 0;
	top: -100%;
	background: rgba(11, 72, 174, 0.8);
	transform: skew(135deg) translateX(-100%);
	-webkit-transform: skew(135deg) translateX(-100%);
	-moz-transform: skew(135deg) translateX(-100%);
	-ms-transform: skew(135deg) translateX(-100%);
	-o-transform: skew(135deg) translateX(-100%);
}
.team section:hover span:before {
	transform: skew(-45deg) translateX(0%);
	-webkit-transform: skew(-45deg) translateX(0%);
	-moz-transform: skew(-45deg) translateX(0%);
	-ms-transform: skew(-45deg) translateX(0%);
	-o-transform: skew(-45deg) translateX(0%);
}
.team section:hover span:after {
	transform: skew(135deg) translateX(0%);
	-webkit-transform: skew(135deg) translateX(0%);
	-moz-transform: skew(135deg) translateX(0%);
	-ms-transform: skew(135deg) translateX(0%);
	-o-transform: skew(135deg) translateX(0%);
}
.team section:hover .describing {
	opacity: 1;
}
/* Cooperation */
.cooperation {
	width: 100%;
	float: left;
	background: #f5f5f5;
	padding: 110px 0 100px 0;
}
.cooperation .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.cooperation h1.cooperation_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}
.cooperation hr.cooperation_hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0;
}
.cooperation .list {
	width: 100%;
	float: left;
}
.cooperation .list section {
	width: 33%;
	float: left;
}
.cooperation .list section .img {
	display: inline-block;
	overflow: hidden;
}
.cooperation .list section img {
	width: 100%;
	display: block;
}
.cooperation .list section img:hover {
	transform: scale(1.3);
	transition: all 1s ease;
}
/* News */
.news {
	width: 100%;
	float: left;
	background: #fff;
	padding: 110px 0 100px 0; 
}
.news .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.news h1.news_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}
.news hr.news_hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0;
}
.news p.news_text {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
	margin-bottom: 80px;
}
.news .news_wrapper {
	width: 100%;
	float: left;
}
.news .news_wrapper section {
	width: 20%;
	float: left;
	margin-right: 5%;
}
.news .news_wrapper section:last-child {
	margin-right: 0;
	width: 25%;
}
.news .news_wrapper section:last-child img {
	width: 100%;
}
.news .news_wrapper section .img {
	display: inline-block;
	overflow: hidden;
}
.news .news_wrapper section .img img {
	display: block;
	margin-bottom: 7px;
}
.news .news_wrapper section .img img:hover {
	transform: scale(1.2);
	transition: all 1s ease;
}
.news .news_wrapper section a {
	font-size: 20px;
	color: #555;
	font-family: 'Open Sans';
	line-height: 1.2;
}
.news .news_wrapper section a:hover {
	text-decoration: underline;
	color: #ff8b38;
}
.news .news_wrapper section p {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	margin-top: 10px;
}
.news .news_wrapper section .time {
	width: 100%;
	margin-top: 10px;
	color: #454545;
	font-family: 'Open Sans';
}
.news .news_wrapper section .time i {
	margin-right: 4px;
}
/* Contact us */
.contact {
	width: 100%;
	float: left;
	background: #f5f5f5;
	padding: 110px 0 80px;
}
.contact .container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.contact h1.contact_title {
	font-family: Raleway;
	font-size: 38px;
	line-height: 43px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}
.contact hr.contact_hr {
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	border: 0;
	margin: 30px 0;
}
.contact p.contact_text {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
	text-align: center;
	margin-bottom: 80px;
}
.contact .form_left {
	width: 45%;
	margin-right: 5%;
	float: left;
}
.contact .form_left input {
	width: 100%;
	float: left;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #ddd;
	outline: none;
	margin-bottom: 30px;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #bdbdbd;
	padding-bottom: 10px;
	background: transparent;
}
.contact .form_left input:focus {
	border-bottom: 2px solid #ccc;
}
.contact .form_right {
	width: 50%;
	float: right;
}
.contact .form_right textarea {
	width: 100%;
	resize: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #ddd;
	outline: none;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #bdbdbd;
	padding-bottom: 110px;
	background: transparent;
}
.contact .form_right textarea:focus {
	border-bottom: 2px solid #ccc;
}
.contact .btn_send {
	width: 100%;
	float: left;
	margin-top: 45px;
}
.contact .btn_send button {
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
	background: #ff9b51;
	border: 0;
	width: 148px;
	height: 46px;
	cursor: pointer;
	border-radius: 7px;
}
.contact .btn_send button:hover {
	transition: all 1s ease;
	background: #fc730d;
}
/* Footer */
footer {
	width: 100%;
	float: left;
	background: #000;
	padding: 20px 0 16px 0;
}
footer .social {
	width: 100%;
	text-align: center;
}
footer .social a {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #ccc;
	margin-right: 30px;
}
footer .social a:last-child {
	margin-right: 0;
}
footer .social a:hover {
	font-size: 26px;
}
footer .rights {
	width: 100%;
	float: left;
	text-align: center;
	opacity: 0.5;
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	margin-top: 15px;
}
/* ScrollUp */
.scrollTop {
	width: 60px;
	height: 60px;
	z-index: 1;
	float: right;
	position: fixed;
	bottom: 50px;
	right: 70px;
	border-radius: 50%;
	border: 0;
	background-color: #333;
	cursor: pointer;
	outline: 0!important;
	box-shadow: 1px 1px 5px #333;
	display: none;
}
.scrollTop:hover {
	background-color: #ff8b38;
	transition: all .3s ease;
}
.scrollTop i {
	font-size: 1.7em;
	color: #fff;
} 
/* Responsive */
@media (max-width: 1544px) {
	header .container,
	.social_media .container,
	.tab .container,
	.sub_list_section .container,
	.standard_picture_section .container, 
	.awesome .container,
	.pricing .container, 
	.comments .container, 
	.axure .container,
	.amount .container,
	.team .container,
	.cooperation .container,
	.news .container,
	.contact .container {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}
	.social_media .social_media_right a.social_link {
		margin-right: 25px;
	}
	.tab .tabcontent {
		width: 30%;
	}
	.tab .img {
		width: 20%;
		float: left;
	}
	.comments section .first_comment .person .desc {
		width: 70%;
		float: left;
		margin-left: 10%;
	}
	.comments section .second_comment .person .desc {
		width: 70%;
		float: left;
		margin-left: 10%;
	}
	.comments section .third_comment .person .desc {
		width: 70%;
		float: left;
		margin-left: 10%;
	}
	body.lock {
		overflow: hidden;
	}
	.header_burger {
		width: 30px;
		height: 20px;
		position: relative;
		display: block;
		z-index: 3;
	}
	.header_burger span {
		position: absolute;
		background: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header_burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header_burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header_burger.active span {
		transform: scale(0);
	}
	.header_burger:before,
	.header_burger:after {
		content: '';
		background: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		transition: all 0.3s ease 0s;
	}
	.header_burger:before {
		top: 0;
	}
	.header_burger:after {
		bottom: 0;
	}
	.navbar {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: #ff8b38;
		padding: 100px 50px 0 50px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.navbar.active {
		top: 0;
	}
	.amount section {
		width: 45%;
		margin-right: 5%;
		margin-bottom: 20px;
	}
	.amount section:nth-child(4) {
		width: 45%;
	}
	.amount section:last-child {
		margin-left: 27.5%;
		margin-top: 10px;
	}
}
@media (max-width: 1100px) {
	header .container {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}
	.header_intro .header_intro_left {
		width: 100%;
		float: left;
		margin-bottom: 50px;
	}
	.header_intro .header_intro_right {
		width: 100%;
	}
	header .container nav.navbar a.navbar_link {
		display: block;
		font-size: 36px;
		margin-bottom: 20px;	
	}
	header .container nav.navbar a.navbar_link:first-child {
		margin-left: 3.5%;
	}
	header .container,
	.social_media .container,
	.tab .container,
	.sub_list_section .container,
	.standard_picture_section .container, 
	.awesome .container,
	.pricing .container, 
	.comments .container, 
	.axure .container,
	.amount .container,
	.team .container,
	.cooperation .container,
	.news .container,
	.contact .container {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}
	.social_media .social_media_right a.social_link {
		margin-right: 10px;
	}
	.tab .tablinks {
		width: 100%;
		float: left;
	}
	.tab .tabcontent {
		width: 100%;
		margin-top: 30px;
		margin-left: 0;
	}
	.tab .img {
		width: 50%;
		margin-left: 25%;
		float: left;
	}
	.tab .img img {
		width: 100%;
	}
	.comments section .first_comment .person .desc {
		width: 60%;
		float: left;
		margin-left: 20%;
	}
	.comments section .second_comment .person .desc {
		width: 60%;
		float: left;
		margin-left: 20%;
	}
	.comments section .third_comment .person .desc {
		width: 60%;
		float: left;
		margin-left: 20%;
	}
	.news .news_wrapper section {
		width: 45%;
		float: left;
		margin-right: 5%;
		margin-bottom: 10px;
	}
	.news .news_wrapper section:last-child {
		width: 45%;
	}
}
@media (max-width: 950px) {
	header .container,
	.social_media .container,
	.tab .container,
	.sub_list_section .container,
	.standard_picture_section .container, 
	.awesome .container,
	.pricing .container, 
	.comments .container, 
	.axure .container,
	.amount .container,
	.team .container,
	.cooperation .container,
	.news .container,
	.contact .container {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}
	.social_media .social_media_right {
		margin-top: 40px;
	}
	.social_media .social_media_right a.social_link {
		font-size: 30px;
	}
	.sub_list_section .sub_list_section_left {
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}
	.sub_list_section .sub_list_section_right {
		width: 100%;
		float: left;
	}
	.sub_list_section .sub_list_section_right section .section_img {
		width: 100%;
		text-align: center;
	}
	.sub_list_section .sub_list_section_right section .section_text {
		width: 100%;
		float: left;
	}
	.standard_picture_section .standard_picture_section_left {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.standard_picture_section .standard_picture_section_right {
		width: 100%;
		float: left;
	}
	.awesome section .design {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.awesome section .well_crafted {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.awesome section .customize {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.pricing section .basic {
		width: 80%;
		margin-left: 10%;
		float: left;
		margin-bottom: 100px;
	}
	.pricing section .professional {
		width: 80%;
		margin-left: 10%;
		float: left;
		margin-bottom: 100px;
	}
	.pricing section .enterprice {
		width: 80%;
		margin-left: 10%;
		float: left;
	}
	.comments section .first_comment {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.comments section .first_comment .person .img {
		width: 15%;
		float: left;
		margin-right: 5%;
	}
	.comments section .second_comment {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.comments section .second_comment .person .img {
		width: 15%;
		float: left;
		margin-right: 5%;
	}
	.comments section .third_comment {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.comments section .third_comment .person .img {
		width: 15%;
		float: left;
		margin-right: 5%;
	}
	.amount section {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
	.amount section:nth-child(4) {
		width: 100%;
	}
	.amount section:last-child {
		margin-left: 0;
	}
	.cooperation .list section {
		width: 100%;
		margin-bottom: 20px;
	}
	.news .news_wrapper section {
		width: 100%;
		margin-bottom: 20px;
	}
	.news .news_wrapper section .img {
		width: 80%;
		margin-left: 10%;
	}
	.news .news_wrapper section img {
		max-width: 100%;
		max-height: 250px;
	}
	.news .news_wrapper section a {
		float: left;
		text-align: center;
	}
	.news .news_wrapper section p {
		float: left;
		text-align: center;
	}
	.news .news_wrapper section .time {
		float: left;
		text-align: center;
	}
	.news .news_wrapper section:last-child {
		width: 100%;
	}
}
@media (max-width: 725px) {
	header .container,
	.social_media .container,
	.tab .container,
	.sub_list_section .container,
	.standard_picture_section .container, 
	.awesome .container,
	.pricing .container, 
	.comments .container, 
	.axure .container,
	.amount .container,
	.team .container,
	.cooperation .container,
	.news .container,
	.contact .container {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
	.header_intro .header_intro_left {
		margin-top: -80px;
		font-size: smaller;
	}
	.header_intro .header_intro_right {
		width: 100%;
		margin-bottom: 20px;
	}
	.social_media .social_media_left {
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	.social_media .social_media_right {
		width: 100%;
		text-align: center;
	}
	.social_media .social_media_right a.social_link {
		font-size: 30px;
		margin-right: 20px;
	}
}
@media (max-width: 565px) {
	header .container,
	.social_media .container,
	.tab .container,
	.sub_list_section .container,
	.standard_picture_section .container, 
	.awesome .container,
	.pricing .container, 
	.comments .container, 
	.axure .container,
	.amount .container,
	.team .container,
	.cooperation .container,
	.news .container,
	.contact .container {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}
}
@media (max-width: 473px) {
	header .container,
	.social_media .container,
	.tab .container,
	.sub_list_section .container,
	.standard_picture_section .container, 
	.awesome .container,
	.pricing .container, 
	.comments .container, 
	.axure .container,
	.amount .container,
	.team .container,
	.cooperation .container,
	.news .container,
	.contact .container {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
	.social_media .social_media_right a.social_link {
		font-size: 30px;
		margin-right: 15px;
	}
}
@media (max-width: 375px) {
	header .container,
	.social_media .container,
	.tab .container,
	.sub_list_section .container,
	.standard_picture_section .container, 
	.awesome .container,
	.pricing .container, 
	.comments .container, 
	.axure .container,
	.amount .container,
	.team .container,
	.cooperation .container,
	.news .container,
	.contact .container {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}
	.header_intro .header_intro_left {
		margin-bottom: 10px;
	}
	.social_media .social_media_right a.social_link {
		font-size: 30px;
		margin-right: 5px;
	}
}
@media (max-width: 768px) {
	.contact .form_left {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.contact .form_right {
		width: 100%;
		float: left;
	}
}
@media (max-width: 388px) {
	footer .social a {
		margin-right: 20px;
		font-size: 20px;
	}
}
@media (max-width: 582px) {
	.scrollTop {
		width: 50px;
		height: 50px;
		bottom: 60px;
		right: 30px;
	}
}